.header__logo {
  max-width: 142px;
  padding: 41px 0 40px;
}

@media screen and (max-width: 1023px) {
  .header__logo {
    max-width: 122px;
    padding: 38px 0 35px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    max-width: 104px;
    padding: 34px 0 30px;
  }
}
