.header__status {
  margin: 48px 0 0 24px;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: right;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

.header__status:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .header__status {
    margin-top: 44px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .header__status {
    margin-top: 10px;
    margin-left: 0;
    font-size: 14px;
  }

  .header__status:last-child {
    margin-top: 18px;
    margin-bottom: 40px;
  }
}