.register-login__button {
  margin: 186px auto 112px;
  padding: 15px 84px;
  width: 358px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #000;
  background: #FFF;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.register-login__button:hover {
  opacity: 0.85;
}

@media screen and (max-width: 1023px) {
  .register-login__button {
    max-width: 310px;
    font-size: 17px;
  }
}

@media screen and (max-width: 767px) {
  .register-login__button {
    margin: 143px auto 30px;
    padding: 14px 35px;
    max-width: 260px;
    font-size: 16px;
  }
}