.register-login__input {
  margin: 0 auto 30px;
  padding: 0;
  padding-bottom: 8px;
  width: 358px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #CCC;
  background: rgba(0,0,0,0.5);
  box-sizing: border-box;
  border-style: none;
  border-bottom: 2px solid #CCC;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.register-login__input:focus {
  outline: 0;
  outline-offset: 0;
}

@media screen and (max-width: 1023px) {
  .register-login__input {
    max-width: 310px;
  }
}

@media screen and (max-width: 767px) {
  .register-login__input {
    max-width: 260px;
  }
}