.register-login__welcome {
  margin: 14px auto 80px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #FFF;
  text-decoration: none
}

@media screen and (max-width: 1023px) {
  .register-login__welcome {
    
  }
}

@media screen and (max-width: 767px) {
  .register-login__welcome {
    margin: 20px auto 40px;
  }
}
